{
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 1 versions"]
            }
          }
        ],
        "react",
        "stage-0"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions", "ie >= 11"]
            },
            "modules": false
          }
        ],
        "react",
        "stage-0"
      ],
    }
  }
}
